div#menu{
    max-width: 100%;
 	height: auto;
}

#menu ul#category {
    clear: left;
    margin: 0;
    padding : 0px; /*rz: top right bottom left*/
    list-style-type: none;
    border:2px solid #e6e6e6;
    border-bottom:none;
    border-radius:0.5em;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    position:relative;

}

#menu li {
    max-width: 100%;
    height: 50px;
    border-bottom: 2px solid #e6e6e6;
    border-radius:0.5em;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    padding : 15px 0px 0px 0px;
    position:relative;
}

#menu ul#category a {
    color: #4da6ff;
    text-align: center;
    text-decoration: none;
    padding : 15px 0px 0px 35px;
    position:relative;
}

#menu a:hover {
    color: #003399;
    text-decoration: underline;
}